body{
    background-image: url("https://imi.org.ua/upload/monitorings/2017/11/17/1-60_700x350.gif?v=1576853550");
    background-size: 100%;
}
a {
    text-decoration: none;
    color: black;
    cursor: auto;
}
button {
    cursor: pointer;
    border: 1px solid lawngreen;
    border-radius: 5px;
}
button > a {
    cursor: pointer;
}
button:hover {
    /*background-color: orangered;*/
    background: linear-gradient(45deg, rgb(33, 150, 243), rgb(233, 30, 99));
}
ol {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 5px;
}
.hide {
    visibility: hidden;
    display: none;
}